/* Global */
body {
    font-family: RobotoRegular;
}
@font-face {
    font-family: "RobotoLight";
    src: local("RobotoLight"),
        url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
        url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
/* Utils */
.f-robot-r {
    font-family: RobotoRegular;
}
.f-robot-l {
    font-family: RobotoLight;
}
/* Login */
.login-img {
    width: 8rem;
    height: 8rem;
    margin-top: -5.5rem;
}
.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    margin-top: 15rem;
    width: 23rem;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.75);
    /* background-color: #445c6c3f; */
}
/* Sales */
.money {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 900;
}
.submonto {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.product-unit {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}
.product-title {
    font-size: 1.8rem;
    font-weight: 800;
}
