/* Global */
body {
    font-family: RobotoRegular;
}
@font-face {
    font-family: "RobotoLight";
    src: local("RobotoLight"),
        url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
        url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
/* Utils */
.f-robot-r {
    font-family: RobotoRegular;
}
.f-robot-l {
    font-family: RobotoLight;
}
/* Login */
.login {
    margin-top: 15rem;
    width: 23rem;
    background: #40596b;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.75);
}
/* Sales */
.money{
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 900;
}
.submonto{
    font-size: 1.2rem;
    letter-spacing: .1rem;
}